[submodule "pack/darkyman/start/tabular"]
	path = pack/darkyman/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/darkyman/start/nerdtree"]
	path = pack/darkyman/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/darkyman/start/gundo.vim"]
	path = pack/darkyman/start/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "pack/darkyman/start/ale"]
	path = pack/darkyman/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/darkyman/start/vim-isort"]
	path = pack/darkyman/start/vim-isort
	url = https://github.com/fisadev/vim-isort
[submodule "pack/darkyman/start/space-vim-dark"]
	path = pack/darkyman/start/space-vim-dark
	url = https://github.com/liuchengxu/space-vim-dark
